<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h3>{{capitolo}}</h3>
    <form action="/manga/" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{capitolo}}" name="capitolo" />
      <input type="hidden" value="prev" name="which" />
      <button style="float: left" type="submit">Prev</button>
    </form>
    <form action="/manga/" method="post">
      {% csrf_token %}
      <input type="hidden" value="next" name="which" />
      <input type="hidden" value="{{capitolo}}" name="capitolo" />
      <button style="float: right" type="submit">Next</button>
    </form>
    <div style="text-align: center; width: 60%; margin: auto">
      {% for image in images %}
      <img src="{{image}}" />
      {% endfor %}
    </div>
    <form action="/manga/" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{capitolo}}" name="capitolo" />
      <input type="hidden" value="prev" name="which" />
      <button style="float: left" type="submit">Prev</button>
    </form>
    <form action="/manga/" method="post">
      {% csrf_token %}
      <input type="hidden" value="next" name="which" />
      <input type="hidden" value="{{capitolo}}" name="capitolo" />
      <button style="float: right" type="submit">Next</button>
    </form>
  </body>
  <script>
    function check(e) {
      if (e.keyCode == 16 || e.keyCode == 17) {
        window.location.href = "https://docs.strapi.io/dev-docs/backend-customization/models";
      }
      if (e.keyCode == 13) {
        document.getElementById("next").submit();
      }
      if (e.keyCode == 39 || e.keyCode == 40 || e.keycode == 27) {
        window.scrollBy(0, 300);
      }
      if (e.keyCode == 38) {
        window.scrollBy(0, -300);
      }
    }
    document.onkeydown = check;
  </script>
</html>
